@mixin arrrow($float: none, $margin-left:0px, $margin-right: 0px) {
  width: 128px;
  height: 128px;
  margin: 10px;
  margin-top: 0px;
  float : $float;
  margin-left: $margin-left;
  margin-right: $margin-right;

}
body {
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.server {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  .slider {
    .slide1 {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: red;
    }
    .slide2 {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: green;
    }
    .slide3 {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: blue;
    }
  }
  .next_slide {
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 48px;
    height: 48px;
    background: url('/style/next_slide.png');
    float: left;
  }
  .prev_slide {
    position: absolute;
    right: 50px;
    bottom: 5px;
    width: 48px;
    height: 48px;
    background: url('/style/prev_slide.png');
  }
}
.client {
  overflow: scroll;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  .control {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    .down {
      @include arrrow($margin-right: auto, $margin-left: auto);
      background: url('/style/scroll down1.png');
    }
    .left {
      @include arrrow($float: left);
      background: url('/style/scroll left1.png');
    }
    .right {
      @include arrrow($float: right);
      background: url('/style/scroll right1.png');
    }
    .up {
      @include arrrow($margin-right: auto, $margin-left: auto);
      background: url('/style/scroll up1.png');
    }

    .left_arrow {
      @include arrrow($float: left);
      background: url('/style/left_arrow1.png');
    }
    .right_arrow {
      @include arrrow($float: right);
      background: url('/style/right_arrow1.png');
    }
    .top_arrow {
      @include arrrow($margin-right: auto, $margin-left: auto);
      background: url('/style/top_arrow1.png');
    }
    .down_arrow {
      @include arrrow($margin-right: auto, $margin-left: auto);
      background: url('/style/down_arrow1.png');
    }
    .click {
      @include arrrow();
      background: url('/style/click1.png');
      float:left;
    }
    .stop {
      @include arrrow();
      float:right;
      background: url('/style/stop.png');
    }
  }
}
.choice {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

  .good_side {
    margin-top: 200px;
    background: rgba(219, 205, 193, 0.38);
    height: 300px;
    width: 300px;
    text-align: center;
  }

  .evil_side {
    text-align: center;
    background: rgba(219, 205, 193, 0.38);
    width: 300px;
    height: 300px;
    float: right;
  }
}

//@mixin button($direction:none, $margin-left: auto) {
//  background: #0b97c4;
//  border-radius: 5px;
//  width: 50px;
//  height: 50px;
//  float:$direction;
//  margin-left: $margin-left;
//  margin-right: auto;
//}
//.button {
//  @include button();
//}
//.box-control {
//  width: 300px;
//  height: 300px;
//}
//.up {
//  @include button($margin-left: auto);
//}
//.left {
//  @include button($direction:right);
//}
//.right {
//  @include button();
//}
//.down {
//  @include button($direction:left);
//}
